*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background: linear-gradient(darkblue ,darkviolet ,darkblue ,darkviolet ,darkblue);
    font-family: "Poppins", sans-serif !important;
    font-weight: 600;
    font-style: normal;
}
.divisor{
    margin: 1rem;
}
.contenedor{
    height: 900px;
    display: flex;
}
.caja1{
    margin: 1rem;
}
.caja2{
    height: 5rem;
    margin: 1rem;
}
.caja3{
    display: flex;
    justify-content: center;
}

.protest-revolution-regular {
    font-family: "Protest Revolution", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  

@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap')
