*{
    box-sizing: border-box;
}
body{
    background-color: chartreuse;
    margin: 0;
    padding: 0;    
    font-family: "Poppins", sans-serif !important;
    font-weight: 600;
    font-style: normal;
}
h1{
    font-family: "Protest Revolution", sans-serif;
    font-weight: 700;
}
@media  (max-width: 1500px) {
    body {
      background-color: lightblue;
    }
}
.caja1{
    background-color: black;
    display: flex;
    justify-content: center;
}
.caja2{
    background-color: white;
    display: flex;
    justify-content: center;
}
@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap')
